.job-card {
  margin: 2rem;
  border: 1px black solid;
  border-radius: 0.3rem;
}

.job-card:hover {
  border: 1px solid var(--main-red);
  border-radius: 0.3rem;
}

.job-card-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

a {
  text-decoration: none;
  color: black;
}

.job-card-title {
  margin-bottom: 1rem;
}

.job-card-salary {
  background-color: lightgrey;
}
