.bm-item {
  display: inline-block;
  font-size: 23px;
  text-decoration: none;
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
}

.bm-burger-button {
  display: block;
  position: relative;
  margin: 16px;
  width: 33px;
  height: 28px;
  z-index: 100;
  user-select: none;
  cursor: pointer;
}
.bm-burger-bars {
  background: #000000;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-menu-wrap {
  top: 85px;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
}
.bm-overlay {
  display: none;
}

@media screen and (min-width: 820px) {
  .bm-menu-wrap {
    top: 90px;
    width: 400px;
  }
}

@media screen and (max-width: 820px) {
  .menu-items {
    display: flex;
    color: black;
    font-weight: bolder;
    font-size: 28px;
  }
  .menu-items-special {
    color: #fc005b;
    font-weight: bolder;
    font-size: 28px;
  }

  .button-candidat {
    display: flex;
    flex-direction: column;
  }

  .menu-items-button {
    margin-top: 25px;
    color: #fc005b;
    font-weight: bolder;
    font-size: 28px;
    background-color: white;
    border: white;
  }

  .switch-links {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bm-menu-wrap {
    left: 0%;
  }
  .logo-mini {
    position: absolute;
    z-index: 100;
    left: 55%;
    top: 60%;
    transform: translate(-50%);
    height: 150px;
    width: auto;
  }
  .bm-burger-button {
    top: 10px;
  }
}

@media screen and (max-width: 389px) {
  .menu-items {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 28px;
  }
  .switch-links {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bm-menu-wrap {
    top: 40px;
    left: 0%;
  }

  .logo-mini {
    position: absolute;
    z-index: 100;
    left: 55%;
    top: 75%;
    transform: translate(-50%);
    height: 150px;
    width: auto;
  }

  .burgerVisible {
    left: 0%;
    top: -90%;
  }
}

@media screen and (min-width: 389px) and (max-width: 700px) {
  .bm-burger-button {
    top: 20px;
  }
  .bm-menu-wrap {
    top: 110px;
  }
}
