.search-bar {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.bar-home {
  border-top: 4px solid var(--main-red);
  border-right: 7px solid var(--main-red);
  border-bottom: 2px solid var(--main-red);
  border-left: 1px solid var(--main-red);
}

.bar-job {
  border: 1px solid black;
  width: 18rem;
  height: 2.5rem;
}

.bar-job:hover,
.bar-job:focus {
  border: 1px solid var(--main-red);
  outline: none;
}

.search-input {
  height: 3rem;
  width: 20rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
}

.input-job {
  height: 1.8rem;
  width: 15rem;
}

.search-input:focus {
  outline: none;
  border-color: var(--main-red);
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  background-color: white;
  border: none;
}

.button-job {
  height: 2rem;
}

@media only screen and (max-width: 390px) {
  .search-input {
    width: 15rem;
  }
}
