.jobid {
  width: 100vw;
}

.resume {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description {
  width: 400px;
  text-align: center;
}

.description h1,
.description h2 {
  color: #fc005b;
}
