.form-container {
  display: flex;
  justify-content: center;
}

.button-form-container {
  margin-bottom: 30px;
}

.form-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.pdf-title {
  margin-top: 50px;
}

.application-container {
  display: flex;
  justify-content: center;
}
