.consultant-application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.consultant-application-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.application-table {
  width: 50%;
  margin-bottom: 40rem;
}

.application-th {
  width: auto;
  border-bottom: 2px solid var(--main-red);
  font-size: 1.5rem;
}

.application-td {
  height: 3rem;
  text-align: center;
  border-bottom: 2px solid var(--main-red);
  font-size: 1.1rem;
}

.job-link {
  text-decoration: underline;
  text-underline-position: under;
}

.job-link:hover {
  color: var(--main-red);
}

.application-status {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.validate-status-button {
  width: 5rem;
  height: 2rem;
}
