.buttonContainer {
  display: flex;
  justify-content: center;
}

.validate-password {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.form-alllabel {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
}

.log-container {
  margin-bottom: 100px;
}

.reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125vh;
}

@media only screen and (max-width: 750px) {
  .label-form {
    width: 100%;
    width: 400px;
    height: 75px;
    font-size: 14px;
  }

  .form-alllabel {
    align-items: center;
    margin: 0 auto;
  }

  .validate-password {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .label-form {
    width: 300px;
  }
}
