.buttonContainer {
  display: flex;
  justify-content: center;
}

.validate-password {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-alllabel {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
}

.log-container {
  margin-top: 100px;
  margin-bottom: 100px;
}
