.log-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.label-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.form-connection {
  top: 60%;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.login-title {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 45px;
}

@media only screen and (max-width: 820px) {
  .log-container {
    height: 60vh;
  }
}

.reg-link {
  text-decoration: underline;
}
