.button-jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  width: 225px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fc005b;
  border: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bolder;
}

.button-jobs:active {
  transform: translateY(4px);
}

.all-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-arrow-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.join-us {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-weight: bolder;
  color: #fc005b;
}

.small-image-container {
  position: absolute;
}

.small-image-1 {
  top: -100px;
  left: 540px;
}

.small-image-2 {
  top: 200px;
  left: 860px;
}

.small-image-3 {
  top: 510px;
  left: 550px;
}

.small-image-4 {
  top: 770px;
  left: 860px;
}

.tuto-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.tuto-accounty {
  display: flex;
  justify-content: center;
}

.consul-container {
  margin-top: 125px;
  margin-left: 150px;
}

.button-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  width: 225px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fc005b;
  border: 0;
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bolder;
}

.button-signup:active {
  transform: translateY(4px);
}

.join-signup {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 1200;
  color: #fc005b;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-image: url("../public/sfddsfdfsfddf.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.externatic-red {
  color: var(--main-red);
  font-size: 2rem;
}

.red-line {
  background-color: var(--main-red);
  height: 0.2rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 820px) {
  .small-image-1 {
    left: 33%;
    transform: translateX(-50%);
  }

  .img-home-small {
    width: auto;
    height: 150px;
    margin-top: 40px;
  }

  .small-image-2 {
    left: 67%;
    transform: translateX(-50%);
  }

  .small-image-3 {
    left: 34%;
    transform: translateX(-50%);
  }

  .small-image-4 {
    left: 68%;
    transform: translateX(-50%);
  }

  .subtitle-externatic-red {
    font-size: 25px;
  }

  .externatic-red {
    font-size: 45px;
  }
}
