.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-image: url("../public/externatic-background.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.externatic-red {
  color: var(--main-red);
  font-size: 2rem;
}
