:root {
  --main-red: #ca2061;
  --second-red: #851342;
}

* {
  margin: 0;
  padding: 0;
  font-family:
    jost,
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
