.logoImage {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: solid;
  margin: 2rem;
  padding: 0.5rem;
  border: 1px black solid;
  border-radius: 0.3rem;
}

img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
